<!DOCTYPE html>
<html>
  <head>
    <title> Homepage </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css" />
  </head>
  <body>
    <h1>The Grand Garage<br>
      <a href ="/garage">All Items </a>
    </h1>
  </body>
</html>
