body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgray;

}

a {
  color: #00B7FF;
}


.item{
  width:200px;
  height: 300px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  size: 50%;
  padding: 10px;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.grid-container {
  display: inline-grid;
  row-gap: 500px;
  column-gap: 400px;

}

.grid-item{
  width:200px;
  height: 300px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  size: 50%;
  padding: 50px;
  text-align: center;
  background-color: whitesmoke;
  

}

.header{
  display: block;
}

.head1{
  padding-left: 270px;
  padding-right: 100px;
  color: white;
  font-size: 50px
  

}

.head2{
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  font-size: 50px

}

.head3{
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  font-size: 50px

}

.googleB{
  color:white;
  size: 20px, 20px;
}