<%- include('../partials/header')%>

<% carts.forEach(function(i){ %>
    <div class = "item">
        <p><%= i.items %></p>
        <form action="/cart" method="POST">
            <input type="submit" value="Purchase Item">
        </form>
    </div>
    
    
    
    <% }); %>

<%- include('../partials/footer')%>
