<%- include('../partials/header')%>

    <div class = "item">
        <p>Plastic</p>
        <form action="/garage/cart" method="post">
            <input type="submit" value="Purchase All">
        </form>
    </div>
    
<%- include('../partials/footer')%>
