<%- include('../partials/header')%>

<p>Item1</p>


<!-- <form action="/garage/cart/<%=i._id%>?_method=DELETE" method="post">
    <input type="submit" value="Remove Item">
</form> -->

<%- include('../partials/footer')%>
