<%- include('../partials/header')%>


<form action="/garage/<%= ditems._id %>/remove?_method=DELETE" method="POST">
    <button type="submit">Remove from Websitey</button>
</form>



<%- include('../partials/footer')%>
